body {
  background: url("./backgroundImage.jpg");
  color:rgb(175, 84, 51);
}

.game {
  text-align: center;
  margin-top: 50px;
  background-color: rgba(255, 192, 203, 0.31);
  padding-bottom: 30px;
}

.timerContainer {
  display: inline-block;
  padding: 10px;
  border: 1px solid rgb(116, 0, 0);
  background-color: rgba(163, 39, 39, 0.27);
}

.timer, .rangeInput {
  display: inline-block;
  margin: 0 auto;
}

.score {
  margin: 0 auto;
  display: inline-block;
  margin-left: 20px;
}

.rangeInput {
  margin-top: 20px;
}
